body {
    color: white;
    background: rgb(17, 16, 16);
    margin: 10px;
    text-align: center;
    font-family: "IBM Plex Mono", serif;
    font-style: normal;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c50b33;
    color: rgb(255, 194, 207);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b3001e;
}

h1{
font-size: 50px;
}

h2{
font-size: 45;
}

p{
font-size: 40px;
}